.nav-element .brand-element {
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
    text-shadow: 1px 1px red;
    padding: 5px;
}

.button-conf:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.button-login {
    margin-left: 5px;
}

.button-login:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.acordion-nav {
    width: 420px;
    height: 45px;
}

.acordion-nav .body-item:hover {
    background-color: rgb(201, 213, 223);
    cursor: pointer;
}

.acordion-nav a{
    text-decoration: none;
}
